.idea/workspace.xml
.idea/misc.xml
.idea/*

.terraform/
.terraform.lock.hcl
group_vars/terraform.yml
terraform.tfstate
terraform.tfstate.backup

*.*\~
*.swp
*.pyc
*.pyo
.vagrant
.git/

ansible/hosts
.vault-password.txt

**/roles/*
!**/roles/usegalaxy_ca.*

venv/
.venv/

ansible/group_vars/slurm.yml
ansible/group_vars/terraform.yml
munge.key

