.idea/workspace.xml
.idea/misc.xml
.idea/*

.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

*.*\~
*.swp
*.pyc
*.pyo
.vagrant
.git/

ansible/hosts
.vault-password.txt

roles/

venv/
.venv/
