
[defaults]
interpreter_python = /usr/bin/python3
retry_files_enabled = false
stdout_callback = yaml
bin_ansible_callbacks = True

vault_password_file = .vault-password.txt

collections_paths = ~/.ansible/collections/ansible_collections

remote_user=cg-admin

[ssh_connection]
pipelining = true
