[Unit]
Description=Pulsar Registry
After=network.target

[Service]
Type=simple
User=galaxy
Group=galaxy
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/galaxy/pulsar_registry/venv/bin/python /home/galaxy/pulsar_registry/app/main.py
WorkingDirectory=/home/galaxy/pulsar_registry/

# Restart configuration
Restart=always
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal

# Basic hardening
ProtectSystem=full
ProtectHome=yes
ReadWritePaths=/home/galaxy/pulsar_registry.db /home/galaxy
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
