<?xml version="1.0"?>
<auth>

<!-- Disable local authenticator, forcing redirect to OIDC

    <authenticator>
        <type>localdb</type>
        <options>
            <allow-password-change>false</allow-password-change>
        </options>
    </authenticator>
-->

</auth>

