<?xml version="1.0"?>
<OIDC>
    <provider name="CILogon">
        <url>https://cilogon.org/authorize</url>
        <client_id>{{ CILOGON_CLIENT_ID }}</client_id>
        <client_secret>{{ CILOGON_CLIENT_SECRET }}</client_secret>
        <redirect_uri>{{ CILOGON_REDIRECT_URI }}</redirect_uri>
        <realm>master</realm>
    </provider>
</OIDC>
