<OIDC>

    <Setter Property="VERIFY_SSL" Value="False" Type="bool"/>
    <Setter Property="REQUESTS_TIMEOUT" Value="3600" Type="float"/>

    <!-- The unit of value is seconds -->
    <Setter Property="ID_TOKEN_MAX_AGE" Value="100000" Type="float"/>
    <!-- The unit of value is seconds -->

    <!-- If configured, sets secondary authorization provider and endpoint. -->
    <!--
    <Setter Property="SECONDARY_AUTH_PROVIDER" Value="..." Type="str" />
    <Setter Property="SECONDARY_AUTH_ENDPOINT" Value="..." Type="str" />
    -->

</OIDC>