import json
import base64
import logging
import psycopg2
import bioblend.galaxy
from datetime import datetime,timedelta

logging.basicConfig(
    format='%(asctime)s:%(levelname)s:%(message)s',
    level=logging.INFO)


###################################################################################  

edugain_idps_file = "{{ galaxy_root }}/var/usegalaxy.ca/edugain_idps.json"

galaxy_url = "https://{{ usegalaxy_domain }}"

galaxy_admin_api_key = "{{ GALAXY_ADMIN_API_KEY }}"

galaxy_db_host="{{ groups['dbservers'][0] }}"
galaxy_db_name="{{ galaxy_db_name }}"
galaxy_db_user="{{ galaxy_user_name }}"
galaxy_db_password="{{ galaxy_postgres_password }}"

group_name_canadian_users_allocation="CanadianUsersAllocationGroup"
group_name_edugain_users_allocation="EdugainUsersAllocationGroup"


##################################################################################
# Establishing the connection to the database
conn = psycopg2.connect(
   database=galaxy_db_name, user=galaxy_db_user, password=galaxy_db_password, host=galaxy_db_host, port= '5432'
)

##################################################################################
# Connect to the Galaxy via the API
gal = bioblend.galaxy.GalaxyInstance(galaxy_url, galaxy_admin_api_key, verify=True)

all_groups=gal.groups.get_groups()
CanadanUsersAllocationGroup_API_id=None
EdugainUsersAllocationGroup_API_id=None

for group in all_groups:
    if group['name'] == group_name_canadian_users_allocation:
        CanadanUsersAllocationGroup_API_id = group['id']
    if group['name'] == group_name_edugain_users_allocation:
        EdugainUsersAllocationGroup_API_id = group['id']

if CanadanUsersAllocationGroup_API_id is None:
    new_g = gal.groups.create_group(group_name_canadian_users_allocation)
    CanadanUsersAllocationGroup_API_id=new_g[0]['id']

if EdugainUsersAllocationGroup_API_id is None:
    new_g = gal.groups.create_group(group_name_edugain_users_allocation)
    EdugainUsersAllocationGroup_API_id=new_g[0]['id']

CUAG_initial_users=gal.groups.get_group_users(CanadanUsersAllocationGroup_API_id)
EUAG_initial_users=gal.groups.get_group_users(EdugainUsersAllocationGroup_API_id)

###################################################################################
# Open edugain idps JSON file and store in an array
# For details on Edugain IDPs info definition: https://technical.edugain.org/api.php

f = open(edugain_idps_file)
try:
    idps = json.load(f)
except:
    exit()

###################################################################################
# Fetch the oidc tokens

now_minus_1w = datetime.now() - timedelta(hours=168)

cursor = conn.cursor()
cursor.execute("SELECT galaxy_user.email,galaxy_user.create_time,oidc_user_authnz_tokens.extra_data FROM galaxy_user,oidc_user_authnz_tokens WHERE galaxy_user.id=oidc_user_authnz_tokens.user_id AND galaxy_user.create_time > '"+str(now_minus_1w)+"'" )
datas = cursor.fetchall()
cursor.close()

# Loop over the oicd tokens
for data in datas:

    user_email=data[0]
    user_create_time=data[1]
    token_extra_data=data[2]

    data_dict=json.loads(token_extra_data.tobytes().decode("utf-8"))
    id_token_parts= data_dict['id_token'].split('.')
    id_token_infos=json.loads(base64.b64decode(id_token_parts[1] + '=='))

    # Get galaxy user info from email in the Session
    API_galaxy_user_infos=gal.users.get_users(f_email=user_email)

    # Get infos of IDP used to authenticate
    user_session_idp=None
    for idp in idps:
        if idp[0]['entityid'] == id_token_infos['idp']:
            user_session_idp=idp[0]

    # Add user to the appropriate allocation group according to the idp location
    # Canadian Users Allocation Group or EduGain Users Allocation group
    # Do nothing if user not in any of these (Gets the default allocation)
    try:
        if user_session_idp is not None:
            if user_session_idp['code'] == 'CAF':
                # Add user to the CanadianUsers Group
                added_user=gal.groups.add_group_user(CanadanUsersAllocationGroup_API_id,API_galaxy_user_infos[0]['id'])
                if added_user not in CUAG_initial_users:
                    logging.info("User "+added_user['email'].split("@")[0]+" is added to the Canadian Users allocation group")
            else:
                # Add user to the EdugainUsers Group
                added_user=gal.groups.add_group_user(EdugainUsersAllocationGroup_API_id,API_galaxy_user_infos[0]['id'])
                if added_user not in EUAG_initial_users:
                    logging.info("User "+added_user['email'].split("@")[0]+" is added to the Edugain Users allocation group")
    except Exception as err:
        logging.exception("")

# Closing db connection
conn.close()


