#!/usr/bin/env bash
set -u

exec {lockfd}>"$HOME/.galaxy-clean.lock"
flock -n "$lockfd" || { echo "Cleanup in process. Exiting..."; exit 0; }

# job working directories, remove failed jobs older than 14 days
# remove job working directory entirely (466), ie /mnt/nfs1/data/jobs/000/466/466987
# then remove empty parent directory (000) if any, ie /mnt/nfs1/data/jobs/000/466 (and 000 eventually)
# Note: prod uses 3 levels deep, staging still uses a 2 levels deep job working directories.
{% set depth = galaxy_job_dir_depth[CLUSTER_NAME] %}
/bin/find {{ galaxy_job_work_dirs }} -mindepth {{ depth }} -maxdepth {{ depth }} -type d -mtime +{{ galaxy_failed_jobs_retention_days }} ! -name '.nfs*' -exec rm -rvf {} + 2>&1 | tee -a {{ galaxy_log_dir }}/cleanup_jobs.log;
/bin/find {{ galaxy_job_work_dirs }} -depth -mindepth 1 -maxdepth 2 -type d -empty -exec rmdir -v {} + 2>&1 | tee -a {{ galaxy_log_dir }}/cleanup_jobs.log;

# Remove tus uploads older than 7 days
/bin/find {{ galaxy_tus_upload_store }} -mindepth 1 -maxdepth 1 -mtime +{{ galaxy_tus_retention_days }} ! -name '.nfs*' -exec rm -rvf {} + 2>&1 | tee -a {{ galaxy_log_dir }}/cleanup_tus_upload.log;

# pgcleanup, it cleans up datasets that have been deleted for more than 7 days
cd {{ galaxy_server_dir }};
{{ galaxy_venv_dir }}/bin/python ./scripts/cleanup_datasets/pgcleanup.py --no-update-time -w 128MB --config-file {{ galaxy_config_file }} --log-dir {{ galaxy_log_dir }} --older-than {{ galaxy_pgcleanup_days }} {{ galaxy_pgcleanup_actions | join(' ') }} 2>&1 | tee -a {{ galaxy_log_dir }}/cleanup_datasets.log;

# TODO: uncomment when scratch is active
# pgcleanup, clean scratch directories (one to many, as defined in galaxy_pgcleanup_old_hdas)
# cd {{ galaxy_server_dir }};
# {% for item in galaxy_pgcleanup_old_hdas | default([]) %}
# {{ galaxy_venv_dir }}/bin/python ./scripts/cleanup_datasets/pgcleanup.py --no-update-time -w 128MB --config-file {{ galaxy_config_file }} --log-dir {{ galaxy_log_dir }} --older-than {{ item.days }} --object-store-id {{ item.object_store_id }} purge_old_hdas 2>&1 | tee -a {{ galaxy_log_dir }}/cleanup_scratch_{{ item.object_store_id }}.log;
# {% endfor %}
