
[defaults]
interpreter_python = /usr/bin/python3
retry_files_enabled = false
stdout_callback = yaml
bin_ansible_callbacks = True

collections_paths = ~/.ansible/collections/ansible_collections

[ssh_connection]
pipelining = true
