{{ galaxy_log_dir }}/*.log {
    monthly
    rotate 12
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
    su {{ galaxy_user_name }} {{ galaxy_user_name }}
    dateext
    dateyesterday
    dateformat .%Y%m
}
